main{
	width:600px;
}
div {
	background: red;
	border: 1px black solid;
	width: 33%;
	height: 12.375rem;
	float:left;
	span{
		position:relative;
	}
	span:before {
		content:"";
		@include hex2rgba-bg(#ffffff, 0%);
		height: 8px;
		width:100px;
		position:absolute;
		top: 96px;
    left: 50px;
		transition-property: background,transform;
		transition-duration: .3s;
		transform: rotate(45deg);
	}
	span:after {
		content:"";
		@include hex2rgba-bg(#ffffff, 0%);
		height: 8px;
		width:100px;
		position:absolute;
		top: 96px;
    left: 50px;
		transform: rotate(-45deg);
		transition-property: background,transform;
		transition-delay: .3s;
		transition-duration: .3s;
	}
}

.clicked.x span:before {
	background:white;
}

.clicked.x span:after {
	background:white;
}

.clicked.o {
	position:relative;
}

.clicked.o span{
	width:100px;
	height:100px;
	position:absolute;
	top: 50px;
	left:50px;
	border-radius: 50%;
	border:8px solid white;
}
